body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-container {
    height: 400px;
    width: 400px;
    border: 5px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

.grid-container

.grid-item {
    border: 1px black solid;
}

.black {
    background-color: black;
}